.card{
    height: 16rem;
    width: 12rem;
    background-color: rgb(243 244 246);
    border: solid 4px rgb(10 60 160);
    border-radius: 10px;
}

.card_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 11.5rem;
    background-color: rgb(37 99 235);
    padding: 0.25rem;
    border-radius: 0.31rem;
    font-weight: bold;
    color: white;
}

.card_body{
    display: grid;
    grid-template-rows: 7rem 1.5rem 4.5rem ;
    height: 13rem;
    width: 11.5rem;
    border-radius: 0.31rem;
}

.card_lower{
    display: grid;
    grid-template-rows: 1.5rem 3rem;
    height: 4.5rem;
    width: 11.5rem;
    background: radial-gradient(closest-side, rgb(57 119 255), rgb(37 99 235));
}

.card_position{
    display: grid;
    height: 1.5rem;
    width: 10rem;
    align-self: self-end;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border-bottom: 0.125rem solid rgb(143 144 146);
}

.card_attributes{
    display: grid;
    grid-template-columns: 5.68rem 0.125rem 5.68rem;
    align-self: self-end;
    height: 3rem;
    width: 11.5rem;
}

.card_attributes_column{
    display: grid;
    height: 1.5rem;
    width: 5.68rem;
    align-items: center;
    justify-content: center;
}

.card_central_line{
    width: 0.125rem;
    height: 3rem;
    border: 0.0625rem solid rgb(143 144 146);
}

.card_attributes_row{
    display: grid;
    width: 5rem;
    height: 1.5rem;
    align-items: center;
    justify-self: center;
    justify-content: center;
    border-top: 0.125rem solid rgb(143 144 146);
}